{% extends "base.html" %}

{% block content %}
    <h2>Редактировать ТО</h2>
    <form method="post" class="machine-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        {% if form.errors %}
        <div class="form-errors">
            {{ form.errors }}
        </div>
        {% endif %}
        <button type="submit">Сохранить</button>
    </form>
    <div class="back-button">
        <form action="{% url 'maintenance-detail' maintenance.id %}">
            <button type="submit" class="btn btn-second">Назад к деталям</button>
        </form>
    </div>
{% endblock %}
